---
import "../styles/global.css";
import GoogleTagManager from "../components/GoogleTagManager.astro";
import GoogleTagManagerBody from "../components/GoogleTagManagerBody.astro";

interface Props {
  title?: string;
  lang?: string;
  bodyClass?: string;
}

const {
  title = "CTI Roofing",
  lang = "en",
  bodyClass = "",
} = Astro.props as Props;
---
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="https://RebelApeCDN.b-cdn.net/CTI-Roofing/favicon.png" />

    <title>{title}</title>

    <GoogleTagManager />

    <slot name="head" />

  </head>

  <body class={`antialiased ${bodyClass}`.trim()}>

    <GoogleTagManagerBody />

    <main id="main">
      <slot />
    </main>

  </body>
</html>