---
import "../styles/global.css";


interface Props {
  title?: string;
  lang?: string;
  bodyClass?: string;
}

const {
  title = "Silverback Framework",
  lang = "en",
  bodyClass = "",
} = Astro.props as Props;
---
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class={`antialiased ${bodyClass}`.trim()}>
    <main id="main">
      <slot />
    </main>
  </body>
</html>